In [123]:
import numpy as np
import pandas as pd

In [124]:
df = pd.read_csv("../data/bangkok_traffy.csv")

In [125]:
df = df.drop(['organization','comment','photo','photo_after','coords','address','star','count_reopen'],axis=1)

In [126]:
df.head()

,ticket_id,type,subdistrict,district,province,timestamp,state,last_activity
0,2021-9LHDM6,{},บางพลัด,บางพลัด,กรุงเทพมหานคร,2021-09-01 10:44:55.353209+00,กำลังดำเนินการ,2022-02-22 04:59:58.622268+00
1,2021-FYJTFP,{ความสะอาด},NaN,NaN,กรุงเทพมหานคร,2021-09-03 12:51:09.453003+00,เสร็จสิ้น,2022-06-04 15:34:14.609206+00
2,2021-8GKAR9,{สายไฟ},สามเสนนอก,ห้วยขวาง,จังหวัดกรุงเทพมหานคร,2021-09-19 06:47:50.488685+00,กำลังดำเนินการ,2022-02-22 04:30:07.293416+00
3,2021-AFPUXZ,"{ถนน,สะพาน}",สีลม,บางรัก,กรุงเทพมหานคร,2021-09-19 07:40:30.000781+00,กำลังดำเนินการ,2022-02-22 04:30:04.507406+00
4,2021-CGPMUN,"{น้ำท่วม,ร้องเรียน}",หนองบอน,ประเวศ,กรุงเทพมหานคร,2021-09-19 14:56:08.924992+00,เสร็จสิ้น,2022-06-21 08:21:09.532782+00

In [127]:
df.isna().sum()

ticket_id        2684
type               97
subdistrict        72
district           74
province           25
timestamp           0
state               0
last_activity       0
dtype: int64

In [128]:
df['province'].unique()

array(['กรุงเทพมหานคร', 'จังหวัดกรุงเทพมหานคร', 'นนทบุรี', 'นครปฐม',
       'ศรีสะเกษ', 'สมุทรปราการ', 'เชียงใหม่', 'ปทุมธานี', 'สมุทรสาคร',
       'อ่างทอง', 'ชลบุรี', 'ภูเก็ต', 'ยะลา', 'ลำปาง', 'พระนครศรีอยุธยา',
       'ตาก', 'อุบลราชธานี', 'ฉะเชิงเทรา', 'ขอนแก่น', 'นครศรีธรรมราช',
       'เชียงราย', nan, 'จันทบุรี', 'สงขลา', 'นครราชสีมา', 'ปราจีนบุรี',
       'กาฬสินธุ์', 'พิจิตร', 'อุตรดิตถ์', 'ราชบุรี', 'กาญจนบุรี',
       'ชัยนาท', 'อุทัยธานี', 'สุพรรณบุรี', 'ลพบุรี', 'นครสวรรค์',
       'นครนายก', 'สกลนคร', 'สตูล', 'อุดรธานี', 'เพชรบุรี', 'ตรัง',
       'สุรินทร์', 'อำนาจเจริญ', 'บุรีรัมย์', 'สุโขทัย', 'สุราษฎร์ธานี',
       'พิษณุโลก', 'มหาสารคาม', 'ร้อยเอ็ด', 'แพร่', 'สมุทรสงคราม',
       'สิงห์บุรี', 'ลำพูน', 'ระยอง', 'ยโสธร', 'นครพนม', 'น่าน',
       'หนองบัวลำภู', 'จังหวัดชลบุรี', 'จังหวัดจังหวัด กรุงเทพมหานคร',
       'จังหวัดพระนครศรีอยุธยา', 'จังหวัดสมุทรปราการ', 'จังหวัดLac',
       'จังหวัดฉะเชิงเทรา', 'จังหวัดนนทบุรี', 'จังหวัดBangkok',
       'จังหวัดจังหวัดกรุงเทพมหานคร', 'ตราด', 'เพชรบูรณ์',
       'ประจวบคีรีขันธ์', 'จังหวัดปทุมธานี', 'จังหวัดสมุทรสาคร',
       'ปัตตานี', 'จังหวัดจ.ฉะเชิงเทรา', 'จังหวัดสระบุรี',
       'จังหวัดประจวบคีรีขันธ์', 'สระบุรี', 'จังหวัดลพบุรี', 'พะเยา'],
      dtype=object)

In [129]:
df = df[df['province'].str.contains('กรุงเทพ|bangkok',na=False,case=False)]

In [169]:
df[df['type']=='{}'].time.value_counts()

0      9007
1      4549
2      2899
3      2081
4      1729
       ...
333       1
342       1
345       1
307       1
456       1
Name: time, Length: 343, dtype: int64

In [130]:
df = df.dropna(subset=['subdistrict', 'district'] )

In [131]:
df.isna().sum()

ticket_id        2658
type               97
subdistrict         0
district            0
province            0
timestamp           0
state               0
last_activity       0
dtype: int64

In [132]:
df = df[df['state'].str.contains('เสร็จ',na=False,case=False)]

In [133]:
df.type.unique()

array(['{น้ำท่วม,ร้องเรียน}', '{สะพาน}', '{น้ำท่วม,ถนน}', ...,
       '{ถนน,ทางเท้า,PM2.5,ความปลอดภัย}',
       '{ถนน,PM2.5,ความปลอดภัย,ร้องเรียน}',
       '{กีดขวาง,ความสะอาด,ความปลอดภัย,ถนน}'], dtype=object)

In [134]:
df.district.value_counts()

จตุจักร              10051
ประเวศ                8856
บางแค                 7823
บางเขน                6877
ลาดกระบัง             6619
บางกะปิ               6564
วัฒนา                 6406
คลองเตย               6082
สวนหลวง               5747
บางขุนเทียน           5140
บึงกุ่ม               4894
บางซื่อ               4722
ปทุมวัน               4591
ราชเทวี               4584
ดินแดง                4442
บางกอกน้อย            4366
ลาดพร้าว              4310
สาทร                  4296
บางรัก                4269
วังทองหลาง            4220
พญาไท                 4061
ธนบุรี                3988
บางนา                 3819
สายไหม                3801
พระนคร                3760
คลองสามวา             3744
มีนบุรี               3580
ห้วยขวาง              3482
บางพลัด               3436
ภาษีเจริญ             3423
สะพานสูง              3260
หนองจอก               3257
หลักสี่               3197
พระโขนง               3196
จอมทอง                3150
ดอนเมือง              3145
ตลิ่งชัน              2875
ทุ่งครุ               2742
หนองแขม               2733
ป้อมปราบศัตรูพ่าย     2703
ยานนาวา               2660
บางคอแหลม             2476
บางบอน                2436
คลองสาน               2230
ดุสิต                 2200
ราษฎร์บูรณะ           2089
คันนายาว              1976
ทวีวัฒนา              1975
บางกอกใหญ่            1599
สัมพันธวงศ์           1081
Name: district, dtype: int64

In [135]:
df[['subdistrict','district']]

             subdistrict    district
4                หนองบอน      ประเวศ
10               ยานนาวา        สาทร
25              ลาดพร้าว    ลาดพร้าว
64              ลาดพร้าว    ลาดพร้าว
102                ดุสิต       ดุสิต
...                  ...         ...
271905           ทุ่งครุ     ทุ่งครุ
271912  คลองเจ้าคุณสิงห์  วังทองหลาง
271921             บางมด     ทุ่งครุ
271957          สะพานสูง    สะพานสูง
271977          บางระมาด    ตลิ่งชัน

[202933 rows x 2 columns]

In [136]:
df['timestamp'] = pd.to_datetime(df['timestamp'], utc=True)
df['last_activity'] = pd.to_datetime(df['last_activity'], utc=True)

In [137]:
df['time'] =  (df['last_activity'] - df['timestamp']).dt.days

In [141]:
type_con = df['type'].str.strip('{}').str.get_dummies(',')

In [177]:
df = pd.concat([df,type_con],axis=1)

In [173]:
district_hot =  pd.get_dummies(df['district'])

In [174]:
df = pd.concat([df,district_hot],axis=1)

In [181]:
df = df.drop(['ticket_id','type','subdistrict','district','province','timestamp','state','last_activity'],axis=1)

,time,คลองสาน,คลองสามวา,คลองเตย,คันนายาว,จตุจักร,จอมทอง,ดอนเมือง,ดินแดง,ดุสิต,...,ป้ายจราจร,ร้องเรียน,สอบถาม,สะพาน,สัตว์จรจัด,สายไฟ,ห้องน้ำ,เสนอแนะ,เสียงรบกวน,แสงสว่าง
4,274,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10,252,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
25,245,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
64,456,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102,165,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271905,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
271912,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
271921,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271957,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
271977,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0